<style>
.yellow_class {
background:yellow
}
.red_class {
background:red
}
</style>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">下款管理</h1>
</div>
<div class="wrapper-md" ng-controller="LoanBillMngCtrl">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-3">
        <div class="input-group">&nbsp;
        </div>
      </div>
      <div class="col-sm-2">
      	<div class="btn-group pull-right">
		     <a type="button" class="btn btn-sm btn-success glyphicon glyphicon-plus" ui-sref="app.loanBill_edit">添加</a>
	     </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" style="width: 2500px;">
        <thead>
          <tr>
            <th>姓名</th>
            <th>身份证号</th>
             <th>下款途径</th>
             <th>下款额度</th>
             <th>到手额度</th>
             <th>利息</th>
             <th>周期</th>
             <th>放款人</th>
             <th>业务</th>
             <th>催收人员</th>
             <th>中介</th>
             <th>返点</th>
             <th>返点途径</th>
             <th>日期</th>
             <th>到期日</th>
             <th>还款日</th>
             <th>业务类型</th>
             <th>收款金额</th>
             <th>盈利</th>
             <th>收款人</th>
             <th>收款平台</th>
             <th>下款状态</th>
             <th>拒绝理由</th>
            <th style="width:140px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in result.data">
            <td  ng-style="data.showColorStyle">{{data.lenderName}}</td>
            <td  ng-style="data.showColorStyle">{{data.lenderIdentity}}</td>
            <td  ng-style="data.showColorStyle"><span ng-repeat="item in app.settings.baseData.loanWayEnum" ng-if="data.loanWay == item.key">{{item.typeDes}}</span></td>
            <td  ng-style="data.showColorStyle">{{data.loanLimit}}</td>
            <td  ng-style="data.showColorStyle">{{data.incomeLimie}}</td>
            <td  ng-style="data.showColorStyle">{{data.interest}}</td>
            <td  ng-style="data.showColorStyle">{{data.period}}</td>
            <td  ng-style="data.showColorStyle">{{data.provideName}}</td>
            <td  ng-style="data.showColorStyle">{{data.salesmanName}}</td>
            <td  ng-style="data.showColorStyle">{{data.callmanName}}</td>
            <td  ng-style="data.showColorStyle">{{data.agencyName}}</td>
            <td  ng-style="data.showColorStyle">{{data.rebatePoint}}</td>
            <td  ng-style="data.showColorStyle"><span ng-repeat="item in app.settings.baseData.loanRebatePointWay" ng-if="data.rebatePointWay == item.key">{{item.typeDes}}</span></td>
            <td  ng-style="data.showColorStyle">{{data.createTime|date:'yyyy-MM-dd'}}</td>
            <td  ng-style="data.showColorStyle">{{data.expireTime|date:'yyyy-MM-dd'}}</td>
            <td  ng-style="data.showColorStyle">{{data.paybackTime|date:'yyyy-MM-dd'}}</td>
            <td  ng-style="data.showColorStyle"><span ng-repeat="item in app.settings.baseData.loanBusinessTypeEnum" ng-if="data.businessType == item.key">{{item.typeDes}}</span></td>
            <td  ng-style="data.showColorStyle">{{data.incomeAmount}}</td>
            <td  ng-style="data.showColorStyle">{{data.profitAmount}}</th>
            <td  ng-style="data.showColorStyle">{{data.incomeName}}</td>
            <td  ng-style="data.showColorStyle"><span ng-repeat="item in app.settings.baseData.loanIncomePlatformEnum" ng-if="data.incomePlatform == item.key">{{item.typeDes}}</span></td>
            <td  ng-style="data.showColorStyle"><span ng-repeat="item in app.settings.baseData.loanStatusEnum" ng-if="data.loanStatus == item.key">{{item.typeDes}}</span></td>
            <td  ng-style="data.showColorStyle">{{data.rejectReason}}</td>
            <td>
              <a type="button" class="btn-sm btn-warning" ng-click="goEdit(data)">编辑</a>
              <a type="button" class="btn-sm btn-danger" ng-click="goDelete(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <tm-pagination conf="paginationConf"></tm-pagination>
</div>