<!doctype html>
<html>
<head th:include="common/header-wap :: header('新闻')"></head>

<body>
<div th:include="common/slicenav-wap :: slicenav('news', ${lang})"></div>

<div class="ipcont">
	<div class="ipnew">
    	<ul>
        	<li th:each="data:${dataList}"><a  th:href="@{${lang}!=''?'/'+${lang}+'/news_detail/'+${data.id}+'.html':'/news_detail/'+${data.id}+'.html'}">
            	<h4 th:text="${data.title}"></h4>
                <span th:text="${#dates.format(data.publish, 'yyyy-MM-dd')}"></span>
                <cite><img th:src="${data.cover}"></cite>
            </a></li>
        </ul>
    	
    </div>
</div>
<div id="elevator_item">
        <a id="elevator" onclick="return false;" title="回到顶部"></a>
  </div>
</body>
</html>
