<!doctype html>
<html>
<head th:include="common/header-wap :: header(${data.title})"></head>

<body>
<div th:include="common/slicenav-wap :: slicenav('news', ${lang})"></div>

<div class="ipcont">
	<div class="ipnewinfo">
          <h4 th:text="${data.title}"></h4>
          <span th:text="${#dates.format(data.publish, 'yyyy-MM-dd')}"></span>
          <div th:utext ="${data.desc}"></div>
    </div>
</div>
<div id="elevator_item">
        <a id="elevator" onclick="return false;" title="回到顶部"></a>
  </div>
</body>
</html>
