<div class="wrapper-md" ng-controller="ICCA_NewsEditCtrl" id="newsDivId">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      新闻编辑
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="post">
      	
      	<div class="line line-dashed b-b line-lg pull-in" ng-if="lang=='ch'"></div>
			<div class="form-group" ng-if="lang=='ch'">
				<label class="col-sm-2 control-label">序号</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="序号"
						ng-model="data.orderField"> <span
						class="help-block m-b-none">序号越小，优先排在前面.</span>
				</div>
			</div>
        <div class="line line-dashed b-b line-lg pull-in" ng-if="lang=='ch'"></div>
        <div class="form-group" ng-if="lang=='ch'">
          <label class="col-sm-2 control-label">标题</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" placeholder="标题" ng-model="data.title">
          </div>
        </div>
        
         <div class="line line-dashed b-b line-lg pull-in" ng-if="lang=='en'"></div>
        <div class="form-group" ng-if="lang=='en'">
          <label class="col-sm-2 control-label">标题英文</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" placeholder="标题英文" ng-model="data.titleEn">
          </div>
        </div>
        
        <div class="line line-dashed b-b line-lg pull-in" ng-if="lang=='ch'"></div>
        <div class="form-group" ng-if="lang=='ch'">
          <label class="col-sm-2 control-label">描述</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" placeholder="描述" ng-model="data.summary">
          </div>
        </div>
        
         <div class="line line-dashed b-b line-lg pull-in" ng-if="lang=='en'"></div>
        <div class="form-group" ng-if="lang=='en'">
          <label class="col-sm-2 control-label">描述英文</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" placeholder="描述英文" ng-model="data.summaryEn">
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in" ng-show="lang=='ch'"></div>
        <div class="form-group" ng-show="lang=='ch'">
          <label class="col-sm-2 control-label">发布日期</label>
          <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" readonly="readonly" datepicker-popup="yyyy-MM-dd" ng-model="data.publish" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in" ng-show="lang=='ch'"></div>
        <div class="form-group" ng-show="lang=='ch'">
          <label class="col-sm-2 control-label">封面</label>
          <div class="col-sm-6">
            <input ui-jq="filestyle" id="fileData" name="fileData" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
          </div>
          <div class="col-sm-4">
            <img alt="封面" width="80px" height="80px" ng-src="{{data.showCover}}" ng-if="data.cover">
          </div>
        </div>
        
        <div class="line line-dashed b-b line-lg pull-in" ng-if="lang=='ch'"></div>
        <div class="form-group" ng-if="lang=='ch'">
          <label class="col-sm-2 control-label">详细内容</label>
          <div class="col-sm-10">
            
            <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar"
				data-target="#editor">
            	<div id="header_id" ng-include="'tpl/fulltext.html'"></div>  
            </div>
            <div ui-jq="wysiwyg" id="desc" class="form-control" style="overflow:scroll;height:450px;max-height:450px">
            此处该有内容...
            </div>
          </div>
        </div>
        
        <div class="line line-dashed b-b line-lg pull-in" ng-if="lang=='en'"></div>
        <div class="form-group" ng-if="lang=='en'">
          <label class="col-sm-2 control-label">详细内容英文</label>
          <div class="col-sm-10">
            
            <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar"
				data-target="#editor">
            	<div id="header_id" ng-include="'tpl/fulltext.html'"></div>  
            </div>
            
            <div ui-jq="wysiwyg" id="descEn" class="form-control" style="overflow:scroll;height:450px;max-height:450px">
            some thing here...
            </div>
          </div>
        </div>
        
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-default" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-primary" ng-click="chgLang('en')"  ng-if="lang=='ch'">英文</button>
            <button type="submit" class="btn btn-primary" ng-click="save();"  ng-if="lang=='en'">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

